// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #404040 !default;

// Text colours
$headingColour: #404040 !default;
$bodyColour: #404040 !default;
$linkColour: #404040 !default;
$hoverColour: #404040 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Josefin Sans,sans-serif",
  regular: 300,
  bold: 500,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: "Josefin Sans,sans-serif",
  regular: 300,
  bold: 500,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Josefin Sans,sans-serif",
  regular: 300,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
